<h1>Sessions#login</h1>

<%= form_for(@user) %>
    <%= form.label(:email) %>
   <%= form.text_field(:email) %>
   <%= form.password_field(:password_digest)%>
   <%= form.password_field(:password_digest)%>
   <%= submit_tag "Login"%>
<%end%>